p.sbg-favorites-link {
    margin: 0 !important;
    border: none;
    display: flex;
    align-items: center;
}

.sbg-favorites-link a{
    border: none;
    color: #00BCD4;
    text-decoration: none !important;
    font-size: 15px;
}

.sbg-favorites-link a:visited,
.sbg-favorites-link a:hover {
    color: #607d8b;
}

img.sbg-favorites-loading {
	width: 25px;
	margin-right: 8px;
}

img.sbg-favorites-hidden {
	display: none;
}